<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城市查询</title>
</head>
<body>
<div style="border: 1px;margin-left: 500px;margin-top: 200px">
    <form action="http://192.168.0.235:8081/" method="post">
        <input title="" type="text" name="city" placeholder="输入城市名字" style="height: 50px;width: 300px;font-size: 24px"/>
        <input type="submit" value="提交" style="font-size: 37px;height: 60px;width: 100px"/>
    </form>
</div>
<span style="font-size: 30px;margin-top: 50px;margin-left:300px ">{{count_dict}}</span>
<span style="font-size: 30px;margin-top: 50px;margin-left:300px ">{{all_info}}</span>
</body>
</html>